DB_USER=seu_usuario_oracle
DB_PASS=sua_senha
DB_HOST=seu_host_oracle
DB_PORT=1521
DB_SERVICE=seu_service

AWS_ACCESS_KEY_ID=sua_chave_aws
AWS_SECRET_ACCESS_KEY=seu_secret_aws
AWS_DEFAULT_REGION=us-east-1
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:1234567890:AlertasFarmTech